server {
    listen {{ port }} ;
    access_log /var/log/nginx/bootstrap.pypa.io/access.log;
    error_log /var/log/nginx/bootstrap.pypa.io/error.log;

    include nginx.ssl.conf;

    root /srv/bootstrap/www;
}
